@font-face {
    font-family: "Typewriter";
    src: url("../../../public/JMHTypewriterDry.otf");
}

html, body{
    margin: 0;
    font-family: 'Typewriter';
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.hidden{
    display: none;
}

.tableau{
    width: 80vw;
}