.tableau{
    z-index: -1;
    position: relative;
    transform: rotate(359deg);
    height: 67vh;
    top: -103px;
    left: 5rem;
}

.container{
    position: relative;
}

.boat{
    height: 7vh;
    width: 7vh;
    background-color: #71A9BB;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 14vh;
    left: 3vh;
}

.men{
    height: 7vh;
    width: 7vh;
    background-color: #71A9BB;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 16vh;
    left: 32vh;
}

.ribbon{
    height: 7vh;
    width: 7vh;
    background-color: #71A9BB;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 10vh;
    left: 42vh;
}