.tableau{
    z-index: -1;
    position: relative;
    transform: rotate(359deg);
    height: 67vh;
    top: -103px;
    left: 5rem;
}

.container{
    position: relative;
}

.boat{
    height: 10vh;
    width: 10vh;
    background-color: #71A9BB;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 1vh;
    left: 13vh;
}

.men{
    height: 10vh;
    width: 10vh;
    background-color: #71A9BB;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 9vh;
    left: 71vh;
}

.ribbon{
    height: 7vh;
    width: 7vh;
    background-color: #71A9BB;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 7vh;
    left: 53vh;
}