@font-face {
    font-family: "Typewriter";
    src: url("../../../public/JMHTypewriterDry.otf");
}

html, body{
    margin: 0;
    font-family: 'Typewriter';
}

.texture{
    position: absolute;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../public/texture.png");
}