

.wrapper{
    display: flex;
    margin-bottom: 5rem;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -2.5rem;    
}

.hidden{
    display: none;
}

.reponseA{
    background-image: url('../../../../public/reponseA.svg');
    padding: 2rem;
    padding-bottom: 6rem;
    padding-top: 4rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 0;
    max-width: 330px;
    max-height: 112px;
}

.reponseB{
    background-image: url('../../../../public/reponseB.svg');
    padding: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 6rem;

    position: relative;
    margin-top: -1rem;    
    max-width: 330px;
    max-height: 112px;
}