.paragraphe{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FBF8F8;
    font-size: 14px;
    min-width: 190px;
    width: 5rem;
    box-shadow: -2px -8px 20px 15px rgb(0 0 0 / 51%);
    cursor: pointer;
}

.wrapperPasCptn{
    padding-left: 2rem;
}

.wrapperCptn{
    position: relative;
    left: -1rem;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
    top: -6rem;
    justify-content: center;
}

.bulleWrapper{
    position: relative;
    left: -3rem;

}

.bulle{

}

.m4Rem{
    position: relative;
    left: 3rem;
}

.left{
    position: relative;
    z-index: 1;
    left: 6rem;
}

.leftHidden{
    left: -80vw;
}

.right{
    position: relative;
    z-index: 1;
    left: -6rem;
    max-width: 170px;
}

.rightHidden{
    left: 80vw;
}

