.tableau{
    z-index: -1;
    position: relative;
    transform: rotate(359deg);
    height: 67vh;
    top: -103px;
    left: 5rem;
}

.container{
    position: relative;
}

.boat{
    height: 3rem;
    width: 3rem;
    background-color: #71A9BB;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 33%;
    left: 5%;
    cursor: pointer;
}

.men{
    height: 3rem;
    width: 3rem;
    background-color: #71A9BB;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 38%;
    left: 58%;
    cursor: pointer;
}

.ribbon{
    height: 3rem;
    width: 3rem;
    background-color: #71A9BB;
    mix-blend-mode: difference;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 77%;
    cursor: pointer;
}