.wrapper{
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 4rem;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 3rem;
    transform: rotate(359deg);

}

.contenu{
    font-weight: lighter;
    position: relative;
    z-index: 1;
    width: 21rem;
    left: 34px;
}

.circle{
    height: 100px;
    width: 100px;
    background-color: #3c92ad63;
    position: absolute;
    border-radius: 100px;
    mix-blend-mode: multiply;
    left: 10px;
}