.header{
    background-image: url("../../../../public/header.svg");
    height: 6.1rem;
    min-height: 97.6px;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100vw;
}