.header{
    background-image: url("../../../../public/header.svg");
    height: 6.1rem;
    min-height: 97.6px;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100vw;
}

.fill{
    width: 40%;
}

.objetsWrapper{
    display: flex;
    justify-content: space-evenly
    
}

.objets{
    height: 3rem;
    width: 3rem;
    border-radius: 100px;
    border-style: dashed;
    border-width: 4px;
    margin-top: 1rem;
    border-color: #D9C5AD;

}

.objet1{
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    background-image: url('../../../../public/objet1.png');
    background-position: center;
    background-repeat: no-repeat;
}

.objet2{
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    background-image: url('../../../../public/objet2.png');
    background-position: center;
    background-repeat: no-repeat;
}

.objet3{
    height: 3rem;
    width: 3rem;
    margin-top: 1rem;
    background-image: url('../../../../public/objet3.png');
    background-position: center;
    background-repeat: no-repeat;
}