.paragraphe{
    width: 20rem;
    height: 10rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left{
    background-color: aqua;
    width: 3rem;
    height: 10rem;
}

.right{
    background-color: blueviolet;
    width: 3rem;
    height: 10rem;
}

.hidden{
    display: none;
}